<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Du lịch thiên đường</title>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/responsive.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/responsive-tabs.css" rel="stylesheet">
</head>
<body>

<div class="container top-bar">
    <div class="container-fluid">
        <ul class="list-unstyled list-inline navbar-right">
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                buiphankhai1979@gmail.com
            </li>

            <li>
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                01699873335
            </li>

            <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Nhơn lý
            </li>

        </ul>
    </div> <!-- end container-fluid -->
</div> <!-- end .top-bar -->

<div class="container bg_menu">
    <div class="container-fluid">
        <div class="logo">
            <div class="row">
                <div class="col-sm-3">
                    <img class="img-responsive" src="images/logo_1.png" alt="">
                </div>

                <div class="col-sm-9">
                    dsds
                </div>

            </div>
        </div> <!-- end .logo -->

        <div class="menu">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--<a class="navbar-brand" href="#">Brand</a>-->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div> <!-- end .menu -->

        <div class="slide">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="img-responsive" src="images/slide.jpg" alt="slide">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div> <!-- end .slide -->

    </div> <!-- end .contaier-fluid -->
</div> <!-- end .menu -->

<div class="container main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 left">
                <h2>Danh mục tour</h2>

                <div class="list_left">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                tour trong nuoc
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                tour trong nuoc
                            </a>
                        </li>

                    </ul>
                </div>


                <h2>Dịch vụ</h2>

                <div class="list_left">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                Thuê xe
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                Thuê cano
                            </a>
                        </li>

                    </ul>
                </div>


                <h2>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    Hỗ trợ trực tuyến
                </h2>

                <div class="support">
                    <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Khải</p>
                    <p><i class="fa fa-phone-square" aria-hidden="true"></i> 01699873335</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i>buiphankhai1979@gmail.com</p>
                </div>

            </div> <!-- end .left -->

            <div class="col-sm-9 right">
                <h2>Tour trong nước</h2>

                <div class="row">
                    <div class="col-sm-4 thongtintour">
                        <img class="img-responsive" src="images/body_bg3.jpg" alt="">
                        <img class="img-responsive news_tour" src="images/New-Corner.png" alt="">

                        <div class="info_tour">
                            <a href="#">
                                <h3>

                                    Du xuân Bắc Bộ
                                </h3>
                            </a>


                            <span class="price">
                                Giá từ: <span class="custom_sp">11111 VNĐ</span>
                            </span>

                            <div class="introTour">
                                <p class="khoihanh">
                                    <b>Khởi hành:</b> All day
                                </p>

                                <p class="diemkh">
                                    <b>Điểm khởi hành:</b> Tp.HCM
                                </p>

                                <p class="tg">
                                    <b>Thời gian:</b> 6 Ngày
                                </p>
                            </div> <!-- end .introTour -->

                        </div> <!-- end .info_tour -->

                    </div>

                    <div class="col-sm-4 thongtintour">
                        <img class="img-responsive" src="images/body_bg3.jpg" alt="">

                        <div class="info_tour">
                            <a href="#">
                                <h3>

                                    Du xuân Bắc Bộ
                                </h3>
                            </a>


                            <span class="price">
                                Giá từ: <span class="custom_sp">11111 VNĐ</span>
                            </span>

                            <div class="introTour">
                                <p class="khoihanh">
                                    <b>Khởi hành:</b> All day
                                </p>

                                <p class="diemkh">
                                    <b>Điểm khởi hành:</b> Tp.HCM
                                </p>

                                <p class="tg">
                                    <b>Thời gian:</b> 6 Ngày
                                </p>
                            </div> <!-- end .introTour -->

                        </div> <!-- end .info_tour -->

                    </div>

                    <div class="col-sm-4 thongtintour">
                        <img class="img-responsive" src="images/body_bg3.jpg" alt="">

                        <div class="info_tour">
                            <a href="#">
                                <h3>

                                    Du xuân Bắc Bộ
                                </h3>
                            </a>


                            <span class="price">
                                Giá từ: <span class="custom_sp">11111 VNĐ</span>
                            </span>

                            <div class="introTour">
                                <p class="khoihanh">
                                    <b>Khởi hành:</b> All day
                                </p>

                                <p class="diemkh">
                                    <b>Điểm khởi hành:</b> Tp.HCM
                                </p>

                                <p class="tg">
                                    <b>Thời gian:</b> 6 Ngày
                                </p>
                            </div> <!-- end .introTour -->

                        </div> <!-- end .info_tour -->

                    </div>

                    <div class="col-sm-4 thongtintour">
                        <img class="img-responsive" src="images/body_bg3.jpg" alt="">
                        <img class="img-responsive news_tour" src="images/New-Corner.png" alt="">

                        <div class="info_tour">
                            <a href="#">
                                <h3>

                                    Du xuân Bắc Bộ
                                </h3>
                            </a>


                            <span class="price">
                                Giá từ: <span class="custom_sp">11111 VNĐ</span>
                            </span>

                            <div class="introTour">
                                <p class="khoihanh">
                                    <b>Khởi hành:</b> All day
                                </p>

                                <p class="diemkh">
                                    <b>Điểm khởi hành:</b> Tp.HCM
                                </p>

                                <p class="tg">
                                    <b>Thời gian:</b> 6 Ngày
                                </p>
                            </div> <!-- end .introTour -->

                        </div> <!-- end .info_tour -->

                    </div>

                    <div class="col-sm-4 thongtintour">
                        <img class="img-responsive" src="images/body_bg3.jpg" alt="">

                        <div class="info_tour">
                            <a href="#">
                                <h3>

                                    Du xuân Bắc Bộ
                                </h3>
                            </a>


                            <span class="price">
                                Giá từ: <span class="custom_sp">11111 VNĐ</span>
                            </span>

                            <div class="introTour">
                                <p class="khoihanh">
                                    <b>Khởi hành:</b> All day
                                </p>

                                <p class="diemkh">
                                    <b>Điểm khởi hành:</b> Tp.HCM
                                </p>

                                <p class="tg">
                                    <b>Thời gian:</b> 6 Ngày
                                </p>
                            </div> <!-- end .introTour -->

                        </div> <!-- end .info_tour -->

                    </div>

                    <div class="col-sm-4 thongtintour">
                        <img class="img-responsive" src="images/body_bg3.jpg" alt="">

                        <div class="info_tour">
                            <a href="#">
                                <h3>

                                    Du xuân Bắc Bộ
                                </h3>
                            </a>


                            <span class="price">
                                Giá từ: <span class="custom_sp">11111 VNĐ</span>
                            </span>

                            <div class="introTour">
                                <p class="khoihanh">
                                    <b>Khởi hành:</b> All day
                                </p>

                                <p class="diemkh">
                                    <b>Điểm khởi hành:</b> Tp.HCM
                                </p>

                                <p class="tg">
                                    <b>Thời gian:</b> 6 Ngày
                                </p>
                            </div> <!-- end .introTour -->

                        </div> <!-- end .info_tour -->

                    </div>
					
                </div>
				
				

            </div> <!-- end .right -->

        </div>
    </div> <!-- end .container-fluid -->
</div> <!-- end .main -->

<div class="container footer">
    <div class="row">
        <div class="col-sm-4">
            <h3>Thông tin liên hệ</h3>
            <p>
                Phone:  01699873335 - Khải
            </p>
            <p>
                Email: buiphankhai1979@gmail.com
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Thời gian làm việc</h3>
            <p>9h - 5h00<br>Từ Thứ 2 - Chủ nhật</p>
        </div>
        <div class="col-sm-4">
            <h3>Liên kết</h3>

            <ul class="soc">
                <li>
                    <a class="soc-twitter" href="#">
                    </a>
                </li>
                <li>
                    <a class="soc-facebook" href="#">
                    </a>
                </li>
                <li>
                    <a class="soc-google" href="#">
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div> <!-- end .footer -->

<div class="container footer_bottom">
    <p class="text-center">© 2016 Firerox. All rights reserved. Designed & developed by Firerox Design</p>
</div> <!-- end .footer_bottom -->

<div class="float_left_ads" style="top:0px">
    <img class="img-responsive" src="images/cau-doi-tet-2017-left_1.png" alt="dulic">
</div>

<div class="float_right_ads" style="top:0px">
    <img class="img-responsive" src="images/cau-doi-tet-2017-right_1.png" alt="dulich1">
</div>



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.responsiveTabs.min.js"></script>
<script src="js/scrolltopcontrol.js"></script>
<script>
    $('#responsiveTabsDemo').responsiveTabs({
        startCollapsed: 'accordion'
    });
</script>
<script>
    function myFunction(x) {
        x.classList.toggle("change");
    }
</script>
<!--<script>
    $(document).ready(function()
    {

        $(window).scroll(function ()
        {
            //if you hard code, then use console
            //.log to determine when you want the
            //nav bar to stick.
            console.log($(window).scrollTop())
            if ($(window).scrollTop() > 80)
            {
                $('.menu').addClass('navbar-fixed-top');
            }
            if ($(window).scrollTop() < 80)
            {
                $('.menu').removeClass('navbar-fixed-top');
            }
        });
    });
</script>-->
</body>
</html>
